.deps
.dirstamp
*.sw[po]
*.lo
*.o
*.la
*.dat
*.so
Makefile
.libs
stamp-h1
autom4te.cache/*
libtool
callgrind.out
*.c_
backend_selected.h
data_selected.h
config.log
config.status
frozend
paths.h
src/lang/*
test/test
test/tests.m4
test/test.c
